%h1
	= @part.number
	%small editing
= simple_form_for @part, :html => {:class => "form-inline"} do |f|
	.row
		.span6
			#trait-groups
				.well.form-inline
					= f.association :trait_groups, :input_html => {:class => "chzn-select span5"}, :label_html => {:id => "trait-group-label"}
			%table.table.table-striped.table-condensed
				%thead
					%tr
						%th Trait
						%th Value
						%th Remove
				%tbody
					= f.simple_fields_for :part_traits do |part_traits_form|
						%tr
							%td= part_traits_form.object.trait.name
							%td= part_traits_form.input :string_value, :label => false
							%td= part_traits_form.input :_destroy, :as => :boolean, :label => false
	= f.button :submit, :class => 'btn btn-primary'
	%span= link_to "Cancel", part_path(@part), :class => "btn"