%h1
	= @part.number
	%small= link_to "edit", edit_part_path(@part)
%h5
	= @part.description
#trait-groups
	#filter.btn-group{"data-toggle" => "buttons-checkbox"}
		- @part.trait_groups.each do |trait_group|
			%button.btn= trait_group.name
.row
	.span6
		%table.table.table-striped.table-condensed.table-bordered
			%thead
				%tr
					%th Trait
					%th Value
			%tbody
			- @part.part_traits.each do |part_trait|
				%tr
					%td= part_trait.trait.name
					%td= part_trait.string_value